/* Configuración general de la Página*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #ccc;
    line-height: 1.6;
    /*border-color: red;
    border-style: solid;
    border-width: 5px;
    padding: 50px;*/
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(15,23,42,0.45);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255,255,255,0.12);
    z-index: 1000;
    transition: 0.3s;
}

nav h2{
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a :hover{
    color: #67e8f9;
}

/* ================== */
/*PARALLAX GENERAL */
/* ================== */

.parallax{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    position: relative;
}

/* CAPA OSCURA*/
.parallax::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.38);
}

/*CONTENIDO SOBRE EL FONDO */

.parallax > * {
    position: relative;
    z-index: 2;
}